/* reset */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

}

body {
    font: 1.6rem "Roboto", sans-serif;
    margin: 0;
    background-color: #2e2e2e;



}

p,
ul,
ol,
h1,
h2,
h3,
address {
    font-style: normal;
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
abbr {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

* {
    box-sizing: border-box;
}

/*theme*/
/* scroll bars */
* {
    /* For FF and non-webkit browsers */
    scrollbar-width: thin;
    scrollbar-color: #000 #FFF;
}

*::-webkit-scrollbar {
    width: .5rem;
}

*::-webkit-scrollbar-thumb {
    background-color: #222;
    outline: .1rem solid #333;
}

:root {
    --color-default-global: #222;
    --color-primary: #3b9879;
    --color-secondary: #92c38b;
    --color-main: #6b6b6b;
}

/*nav bar*/
nav {
    background-color: var(--color-primary);
    box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.514);
    border-bottom: #2e7e63 solid 1rem;
}

nav ul {
    text-align: center;
}

nav ul li {
    margin: 0 3rem;
    display: inline-block;
    padding: 1.5rem;
    border-radius: 2.5rem;
    vertical-align: middle;
}

nav ul li a {
    font-weight: bold;
    font-size: 1.9rem;
    transition: all .2s ease-in-out;
}

nav ul li:first-child a:hover {
    margin: 0;
    background: inherit;
    padding: 0;
    box-shadow: none;
    border-radius: none;
}

nav ul li a:hover {
    margin: 0.1rem;
    padding: 1rem;
    border-radius: .3rem;
    box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.514);
    color: #FFF;
}

nav ul li a .material-icons {
    font-size: 4.5rem;
    transition-duration: .3s;
}

nav ul li a .material-icons:hover {
    transform: scale(1.2);
    color: #FFF;
}

/*travaux*/
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
section h2 {
    color: #fff;
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    text-align: center;
    filter: drop-shadow(0 0 0.30rem #989cbe);
    font-size: 5rem;
}
main figure {
    max-width: 50rem;
    height: 50rem;
    margin: 5rem 1rem auto;
    grid-gap: 1rem;
    border-radius: .3em;
    box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.34);
    background-color: rgb(53, 53, 53);
    padding: 3rem;
    transition: all .2s ease-in-out;
    

}
main figure details{
    color: #FFF;
}
main figure summary{
    background-color: rgb(53, 53, 53);
    padding: 1rem;
    transition: all .2s ease-in-out;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.514);
}
main details span{
    background-color: #494949;
    padding: .2rem;
    border-radius: .3rem;
    color: rgb(255, 255, 255);
}
main figure summary:hover{
    background-color: rgb(56, 56, 56);
}

main figure figcaption:first-child{
    text-align: center;
}
main figure:hover {
    background-color: rgb(56, 56, 56);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.514);
}

main figure figcaption {
    padding: 0rem 1rem 1rem 1rem;
}

main figure figcaption h2 {
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
    font-weight: 400 bold;
    filter: drop-shadow(0 0 0.15rem #b0b3d4);
}

main figure img {
    display: block;
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid var(--color-primary);
    transition: all 0.3s ease;
    margin: 0 auto;
}

main figure figcaption h2,
main figure figcaption p {
    padding: 0rem 0rem 1rem 1rem;

}

main figure figcaption time {
    padding: 1rem;
    display: block;
    color: rgb(65, 141, 99);
    font-style: italic;
    font-size: small;
    text-align: center;
}

main figure figcaption ul li {
    line-height: 2.6rem;
    padding-top: 0;
    color: rgb(201, 201, 201);
}

main figure a {
    order: 1;
}

/* suite des article */
main figure:nth-child(2n + 1) figcaption {
    order: 1;
}

main .btn-add {
    font-size: initial;
    padding: 1rem;
    display: block;
    width: 20rem;
    text-align: center;
    border: solid .1rem #222;
    margin: 0 auto;
    text-transform: uppercase;
    cursor: pointer;
}

main .btn-add::before {
    content: '+ ADD MORE';
}

main .btn-remove::before {
    content: '- LESS ARTICLE';
}

/* responsive */
@media screen and (max-width: 60rem) {
    nav ul li a:hover {
        margin: 0;
        padding: 0;
        color: #FFF;
        box-shadow: none;
    }

    /* main figure figcaption time {
        display: none;
    }

    main figure figcaption ul li {
        display: none;
    }

    main figure figcaption {
        display: none;
    }

    main figure img {
        order: 1;
        display: block;
        width: 100%;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.452);
    } */

    nav ul li {
        margin: 0 1rem;
        display: inline-block;
        padding: none;
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    

}