/* reset */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font: 1.6rem "Roboto",sans-serif;
    margin: 0;
    background-color: #2e2e2e;

}
p, ul, ol, h1, h2, h3, address{
    font-style: normal;
    margin: 0;
    padding: 0;
    list-style: none;
}
a,abbr{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
*{
    box-sizing: border-box;
}

/*theme*/
/* scroll bars */
*{
    /* For FF and non-webkit browsers */
    scrollbar-width: thin;
    scrollbar-color: #000 #FFF;
}
*::-webkit-scrollbar {
    width: .5rem;
}
*::-webkit-scrollbar-thumb {
    background-color: #222;
    outline: .1rem solid #333;
}
:root{
    --color-default-global: #222;
    --color-primary: #3b9879;
    --color-secondary: #92c38b;
    --color-main: #6b6b6b;
}

header h1{
    line-height: 6.5rem;
    text-align: center;
    color: #fff;
    background-color: var(--color-primary);
    margin-bottom: 2rem;
    font-weight: 00;
    /* text-shadow: .1rem .1rem 0 var(--color-default-global); */
}
header h1 .material-icons{
    display: none;
    cursor: pointer;
}
/*nav bar*/
nav {
    background-color: var(--color-primary);
    box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.514);
    border-bottom: #2e7e63 solid 1rem;
}
nav ul {
    text-align: center;
}
nav ul li {
    margin: 0 3rem;
    display: inline-block;
    padding: 1.5rem;
    border-radius: 2.5rem;
    vertical-align: middle;
}

nav ul li a {
    font-weight: bold;
    font-size: 1.9rem;
    transition: all .2s ease-in-out;
}

nav ul li:first-child a:hover {
    margin: 0;
    background: inherit;
    padding: 0;
    box-shadow: none;
    border-radius: none;
}

nav ul li a:hover {
    margin: 0.1rem;
    padding: 1rem;
    border-radius: .3rem;
    box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.514);
    color: #FFF;
}

nav ul li a .material-icons {
    font-size: 4.5rem;
    transition-duration: .3s;
}

nav ul li a .material-icons:hover {
    transform: scale(1.2);
    color: #FFF;
}
/*parcours*/
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}
figure{
    width: 55rem;
    margin: 4rem 1rem;
    padding: .4rem 1rem;
    border-left: .2rem solid #fff;
    position: relative;
}
figure .date {
    background:#ffffff;
    color: rgb(0, 0, 0);
    border-radius: 5rem;
    padding: .5rem 2.5rem;
    font-weight: bold;
}
figure h2{
    font-size: 2.5rem;
    color: #fff;
    padding-top: 1.5rem;
}
figure .material-icons{
    position: absolute;
    top: -3%;
    left: -5%;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color:rgb(0, 0, 0);
    filter: drop-shadow(0 0 1rem rgb(168, 245, 175)); ;
    background: rgb(72, 167, 130);
}
figure:nth-child(2) .material-icons{
    top: -5%;
}
figure:nth-child(3) .material-icons{
    top: -10%;
}
figure p{
    font-size: 2rem;
    color: #fff;
    margin: 2rem;
}
figure ul li{
    font-size: 1.5rem;
    margin-left: 5rem;
    color: #fff;
    list-style: disc;
}
/* responsive */
@media screen and (max-width: 40rem){
    nav ul li a:hover{
        margin: 0;
        padding: 0;
        color: #FFF;
        box-shadow: none;
    }
    nav ul li {
        margin: 0 1rem;
        display: inline-block;
        padding: none;
    }
    nav ul{
        margin-bottom: 2rem;
    }
    figure{
        width: 80%;
    }
    figure .material-icons{
        top: -2%;
        left: -8%;
    }
    


}