/* reset */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

}

body {
    font: 1.6rem "Roboto", sans-serif;
    margin: 0;
    background-color: #2e2e2e;



}

p,
ul,
ol,
h1,
h2,
h3,
address {
    font-style: normal;
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
abbr {
    text-decoration: none;
    color: rgb(0, 0, 0);
    
    
}

* {
    box-sizing: border-box;
}

/*theme*/
/* scroll bars */
* {
    /* For FF and non-webkit browsers */
    scrollbar-width: thin;
    scrollbar-color: #000 #FFF;
}

*::-webkit-scrollbar {
    width: .5rem;
}

*::-webkit-scrollbar-thumb {
    background-color: #222;
    outline: .1rem solid #333;
}

:root {
    --color-default-global: #222;
    --color-primary: #3b9879;
    --color-secondary: #92c38b;
    --color-main: #6b6b6b;
}

/*nav bar*/
nav {
    background-color: var(--color-primary);
    box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.514);
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 2;
    border-bottom: #2e7e63 solid 1rem;
}
nav ul {
    text-align: center;
    
}

nav ul li {
    margin: 0 3rem;
    display: inline-block;
    padding: 1.5rem;
    border-radius: 2.5rem;
    vertical-align: middle;
}

nav ul li a {
    font-weight: bold;
    font-size: 1.9rem;
    transition: all .2s ease-in-out;
}

nav ul li:first-child a:hover {
    margin: 0;
    background: inherit;
    padding: 0;
    box-shadow: none;
    border-radius: none;
}

nav ul li a:hover {
    margin: 0.1rem;
    padding: 1rem;
    border-radius: .3rem;
    box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.514);
    color: #FFF;
}

nav ul li a .material-icons {
    font-size: 4.5rem;
    transition-duration: .3s;
}

nav ul li a .material-icons:hover {
    transform: scale(1.2);
    color: #FFF;
}

/*itération*/
section ul li{
    color: #FFF;
    text-align: justify;
    margin: 1rem auto;
    
    
}
section h2 {
    color: #fff;
    margin-bottom: 1.5rem;
    text-align: center;
    filter: drop-shadow(0 0 0.30rem #989cbe);
    font-size: 5rem;
}
section img:first-child{
    max-width: 80rem;
    margin: 0 auto;
}
section p{
    color: #FFF;
    
}
main:nth-child(2) section:nth-child(2) ul:nth-child(2) li:nth-child(2) img:nth-child(1) {
    max-width: 25rem;
    margin: 0 auto;
    margin-bottom: 3rem;
}
main:nth-child(2) section:nth-child(2) ul:nth-child(2) li:nth-child(2) img:nth-child(2) {
    max-width: 25rem;
    margin: 0 auto;

}
main:nth-child(2) section:nth-child(2) ul:nth-child(2) li:nth-child(1) {
    text-align: center;
    margin-bottom: 2rem;
}
main:nth-child(2) section:nth-child(2) ul:nth-child(2) li:nth-child(5) {
    margin-bottom: 2rem;
}
main section:first-child{
    margin-top: 15rem;
}
main section{
    display: grid;
    max-width: 110rem;
    margin: 2rem auto;
    grid-gap: 1rem;
    border-radius: .3em;
    box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.34);
    background-color: rgb(71, 71, 71);
    padding: 3rem;
    transition: all .2s ease-in-out;

}
main section span{
    background-color: #2e2e2e;
    padding: .2rem;
    border-radius: .3rem;
    color: rgb(223, 223, 223);
}
main figure figcaption:first-child{
    text-align: center;
}
main section:hover {
    background-color: rgb(87, 87, 87);
    box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.514);
}
main figure figcaption h2 {
    color: rgb(255, 255, 255);
    font-weight: 400 bold;
    filter: drop-shadow(0 0 0.15rem #b0b3d4);
}

main section img {
    display: block;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.452);
}

main figure figcaption h2,
main figure figcaption p {
    padding: 0rem 0rem 1rem 1rem;

}

main figure figcaption time {
    padding: 1rem;
    display: block;
    color: rgb(65, 141, 99);
    font-style: italic;
    font-size: small;
}

main figure figcaption p {
    line-height: 2.6rem;
    padding-top: 0;
    color: rgb(201, 201, 201);
}



/* responsive */
@media screen and (max-width: 60rem) {
    nav ul li a:hover {
        margin: 0;
        padding: 0;
        color: #FFF;
        box-shadow: none;
    }

    main figure figcaption time {
        display: none;
    }

    main figure figcaption p {
        display: none;
    }

    main figure figcaption {
        display: none;
    }

    main figure img {
        order: 1;
        display: block;
        width: 200%;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.452);
    }

    nav ul li {
        margin: 0 1rem;
        display: inline-block;
        padding: none;
    }
    main section:first-child{
        margin-top: 25rem;
    }

}