/* reset */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font: 1.6rem "Roboto",sans-serif;
    margin: 0;
    background-color: #2e2e2e;

}
p, ul, ol, h1, h2, h3, address{
    font-style: normal;
    margin: 0;
    padding: 0;
    list-style: none;
}
a,abbr{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
*{
    box-sizing: border-box;
}

/*theme*/
/* scroll bars */
*{
    /* For FF and non-webkit browsers */
    scrollbar-width: thin;
    scrollbar-color: #000 #FFF;
}
*::-webkit-scrollbar {
    width: .5rem;
}
*::-webkit-scrollbar-thumb {
    background-color: #222;
    outline: .1rem solid #333;
}
:root{
    --color-default-global: #222;
    --color-primary: #3b9879;
    --color-secondary: #92c38b;
    --color-main: #6b6b6b;
}
header h1, section h2{
    line-height: 6.5rem;
    text-align: center;
    color: #fff;
    background-color: var(--color-primary);
    margin-bottom: 2rem;
    font-weight: 00;
    /* text-shadow: .1rem .1rem 0 var(--color-default-global); */
}
.aside{
    height: 93vh;
    background: url(https://zupimages.net/up/21/44/ebq5.png) no-repeat scroll center center / cover;
}
header h1 .material-icons{
    display: none;
    cursor: pointer;
}
/*nav bar*/
nav {
    background-color: var(--color-primary);
}

nav ul {
    text-align: center;
}

nav ul li {
    margin: 0 3rem;
    display: inline-block;
    padding: 1.5rem;
    border-radius: 2.5rem;
    vertical-align: middle;
}

nav ul li a {
    font-weight: bold;
    font-size: 1.9rem;
    transition: all .2s ease-in-out;
}

nav ul li:first-child a:hover {
    margin: 0;
    background: inherit;
    padding: 0;
    box-shadow: none;
    border-radius: none;
}

nav ul li a:hover {
    margin: 0.1rem;
    padding: 1rem;
    border-radius: .3rem;
    box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.514);
    color: #FFF;
}

nav ul li a .material-icons {
    font-size: 4.5rem;
    transition-duration: .3s;
}

nav ul li a .material-icons:hover {
    transform: scale(1.2);
    color: #FFF;
}
section .grid-logo{
    width: 100rem;
    margin: auto;
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(4, 1fr); /* valeurs auto 4 fois */
    grid-gap: 1.0rem;
    grid-auto-flow: dense; 
}
/* test grid display block */

/*section:nth-of-type(2) ul{
    overflow: hidden;
   display: table;
    width: 100%;
    font-size: 0;
    
}
/*section:nth-of-type(2) ul li{
    
    display: inline-block;
    float: left;
    width: calc(100% / 4);
    
}*/
section:nth-of-type(2) ul li img{
    position: relative;
    display: block;
    width: 100%;
    transition-duration: .6s;
    transform: scale(1);
}
section:nth-of-type(2) ul li:hover img{
    transform: scale(1.1);
    z-index: 3;
}

/* end */
section .grid-logo li img{
    display: block;
    width: 100%;
}

/* .aside{
    background: url(https://zupimages.net/up/21/44/ebq5.png)no-repeat scroll center center / cover;
    min-height: 50vh;
    max-width: 120rem;
    margin: 0 auto 2rem;
    
    display: grid;
    align-items: center;

} */
.aside h2{
    padding-top: 15rem;
    /* padding-right: 100rem; */
    text-align: center;
    font-size: 10.0rem;
    color: #ffffff;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    transition: all 300ms ease-in-out;
}
.aside h2:hover{
    letter-spacing: 0.20rem;
}
section h2{
    text-align: left;
    margin-bottom: 0.3rem;
    padding: 1rem;
    line-height: 4.5rem;
    /* top:0; */
}
main,footer{
    max-width: 120.0rem;
    margin: 0 auto;
    background-color: var(--color-main);
    box-shadow: 0 0 1.0rem #333 ;
}
section ul, section ul li p{
    line-height: 2.6rem;
    padding: 1rem;
    text-align: justify;
}

footer{
    background: none;
    background-color: var(--color-primary);
    margin-top:2rem;
}
footer ul li{
    text-align: center;
    color: #fff;
    font-size: small;
}
footer address ul{
    padding: 1rem;
}
.history{
    transition-duration: 0.5s;
}
.history:target{
    background-color: #ccc;
    color: #222;
}
main section{
    margin: 1rem auto;
}
/* responsive */
@media screen and (max-width: 60rem){
    nav ul li a:hover{
        margin: 0;
        padding: 0;
        color: #FFF;
        box-shadow: none;
    }
    nav ul li {
        margin: 0 1rem;
        display: inline-block;
        padding: none;
    }


}