/* reset */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

}

body {
    font: 1.6rem "Roboto", sans-serif;
    margin: 0;
    background-color: #2e2e2e;
    overflow-y: hidden;

}

p,
ul,
ol,
h1,
h2,
h3,
address {
    font-style: normal;
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
abbr {
    text-decoration: none;
    color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 0.3rem #000);
}

* {
    box-sizing: border-box;
}

/*theme*/
/* scroll bars */
* {
    /* For FF and non-webkit browsers */
    scrollbar-width: thin;
    scrollbar-color: #000 #FFF;
}

*::-webkit-scrollbar {
    width: .5rem;
}

*::-webkit-scrollbar-thumb {
    background-color: #222;
    outline: .1rem solid #333;
}

:root {
    --color-default-global: #222;
    --color-primary: #3b9879;
    --color-secondary: #92c38b;
    --color-main: #6b6b6b;
}

header h1,
section h2 {
    line-height: 6.5rem;
    text-align: center;
    color: #fff;
    background-color: var(--color-primary);
    margin-bottom: 2rem;
    font-weight: 00;
    box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.514);    
    border-bottom: #2e7e63 solid 1rem;
    /* text-shadow: .1rem .1rem 0 var(--color-default-global); */
}
header h1 span{
    color: rgba(0,0,0,.6);
    text-shadow: 3px 2px 3px rgba(255,255,255,.2);
}


.aside {
    height: 93vh;
    background: url(../asset/fond.png) no-repeat scroll center center / cover;
}

.aside h2 {
    margin: 0 auto;
    padding-top: 5rem;
    text-align: center;
    font-size: 10.0rem;
    color: #ffffff;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
    transition: all 300ms ease-in-out;
}

.aside h2:hover {
    letter-spacing: 0.20rem;
}

header h1 .material-icons {
    display: none;
    cursor: pointer;
}

nav ul {
    margin-bottom: 2rem;

}

nav ul li {
    line-height: 4.5rem;
    font-size: 3rem;
    /* width: calc(100% / 5); */
    text-align: center;
    margin: 2rem auto;
    transition: all 200ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.7);
}

nav ul li:hover {
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0.9);
}

nav ul li a {
    padding: 1rem;
    transition: all 300ms ease-in-out;
    width: 100%;
}

/* nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: .5rem;
    color: rgb(255, 255, 255);
} */

.nav audio {
    position: absolute;
    display: none;
}

/* responsive */
@media screen and (max-width: 60rem) {
    header h1 {
        font-size: 2rem;
        margin-bottom: .1rem;

    }

    .aside h2 {
        font-size: 8.5rem;
        padding-top: 8rem;
    }

    nav ul li {
        line-height: 4rem;
        font-size: 2.5rem;


    }

}
@media screen and (max-width: 20rem) {
    header h1 {
        font-size: 2rem;
        margin-bottom: .1rem;

    }

    .aside h2 {
        font-size: 5.5rem;
        padding-top: 8rem;
    }

    nav ul li {
        line-height: 4rem;
        font-size: 2rem;


    }

}

@media screen and (orientation: landscape) {
    nav ul {
        margin: 0 auto 2rem;

    }

    nav ul li {
        width: calc(100% / 5);
    }

}